<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/clips/top"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button routerLink="/tabs/clips/upload">
          <ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Heat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" margin (click)="onViewClip()"
    >View Clip</ion-button
  >
</ion-content>
